<div class="body">
  <div class="date-picker" (click)="openMenuDate()">
    <p>
      <input type="text">
      <mat-icon>calendar_month</mat-icon>
    </p>
  </div>



  <div class="date" *ngIf="showDate">
    <div class="date-table">
      <div class="header">
        <div class="date-day">
          <p class="date-day-detail" (click)="goToDayNow()">برو به امروز</p>
        </div>
        <div>
          <p class="change-years">
            <mat-icon class="before" (click)="changeYears(false)">
              chevron_right
            </mat-icon>
            <span>
              {{ yearDateOneSh }}
            </span>
            <span *ngIf="yearDateOneSh != yearDateTwoSh">
              - {{ yearDateTwoSh }}
            </span>
            <mat-icon class="next" (click)="changeYears(true)">
              chevron_left
            </mat-icon>
          </p>
        </div>
        <div class="change-calendar">
          <p class="change-calendar-detail">
            <mat-icon>calendar_month</mat-icon>
            تقویم میلادی
          </p>
        </div>
      </div>
      <div class="table">
        <div class="change-month">
          <p>
            <mat-icon class="before" (click)="changeMonth(false)">chevron_right</mat-icon>
            {{ getNameMonth(monthDateOneSh) }}
          </p>
          <p>
            <mat-icon class="next" (click)="changeMonth(true)">chevron_left</mat-icon>
            {{ getNameMonth(monthDateTwoSh) }}
          </p>
        </div>
        <div class="table-detail">
          <div class="detail">
            <div class="day-week">
              <ng-container *ngFor="let item of weekList">
                <p>
                  {{ item.day }}
                </p>
              </ng-container>
            </div>
            <div class="day-month">
              <div *ngFor="let item of dayOfMonth.month1"
                [ngClass]="{'fri-day':item?.weekType==WeekTypeShEnm.Fri,'no-day-month':!item?.day,'day-now': classGetDateNow(item?.day ?? 0, true),'is-day-now': isDayNow,
              }"
                (click)="selectDate(item,true)">
                <p *ngIf="item?.day">
                  {{item?.day}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="table-detail">
          <div class="detail">
            <div class="day-week">
              <ng-container *ngFor="let item of weekList">
                <p>
                  {{item.day}}
                </p>
              </ng-container>
            </div>
            <div class="day-month">
              <div *ngFor="let item of dayOfMonth.month2"
                [ngClass]="{'fri-day':item?.weekType==WeekTypeShEnm.Fri,'no-day-month':!item?.day,'day-now': classGetDateNow(item?.day ?? 0, false),'is-day-now': isDayNow}"
                (click)="selectDate(item,false)">
                <p *ngIf="item?.day">
                  {{item.day}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="end-table">
        <div class="date-select">
          <p>
            شروع
            <span> {{dateSelect1}}</span>
          </p>
          <p *ngIf="dateSelect2">
            - پایان
            <span> {{dateSelect2}} </span>
          </p>
        </div>
        <div class="date-approve">
          <p>
            <button>تایید</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>